In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv(r"C:\Users\HP-PC\Desktop\Python data analytics\customer.csv")

In [25]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [26]:
df = df.iloc[:,2:]

In [27]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [29]:
x_train

     review education
16     Poor        UG
10     Good        UG
8   Average        UG
5   Average    School
39     Poor        PG
46     Poor        PG
22     Poor        PG
34  Average    School
40     Good    School
49     Good        UG
3      Good        PG
19     Poor        PG
21  Average        PG
2      Good        PG
11     Good        UG
45     Poor        PG
30  Average        UG
4   Average        UG
1      Poor        UG
24  Average        PG
25     Good    School
31     Poor    School
42     Good        PG
47     Good        PG
23     Good    School
48     Good        UG
0   Average    School
27     Poor        PG
7      Poor    School
32  Average        UG
28     Poor    School
17     Poor        UG
37  Average        PG
43     Poor        PG
44  Average        UG
36     Good        UG
33     Good        PG
12     Poor    School
14     Poor        PG
9      Good        UG

In [30]:
 from sklearn.preprocessing import OrdinalEncoder

In [31]:
# Convert the columns of interest to string to match the categories
x_train = x_train.astype(str)
x_test = x_test.astype(str)

# Fit the encoder on the training set
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])
oe.fit(x_train)

# Transform the data
x_train_encoded = oe.transform(x_train)
x_test_encoded = oe.transform(x_test)

In [32]:
x_train_encoded

array([[0., 1.],
       [2., 1.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [1., 2.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [1., 2.],
       [2., 0.],
       [0., 0.],
       [2., 2.],
       [2., 2.],
       [2., 0.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [0., 1.],
       [1., 2.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [2., 1.]])

In [40]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
le = LabelEncoder()

In [36]:
le.fit(y_train)

LabelEncoder()

In [37]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [38]:
y_train_labeled = le.transform(y_train)
y_test_labeled = le.transform(y_test)

In [39]:
y_train_labeled

array([1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1])

In [41]:
## ONE HOT  ENCOING

In [74]:
df = pd.read_csv(r"C:\Users\HP-PC\Desktop\Python data analytics\cars.csv")

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [76]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [77]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [78]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [79]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [80]:
 pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [81]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\hp-pc\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp-pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp-pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp-pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp-pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\hp-pc\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [82]:
print(df.columns)

Index(['brand', 'km_driven', 'fuel', 'owner', 'selling_price'], dtype='object')

In [83]:
import pandas as pd



# Apply pd.get_dummies to create one-hot encoding for 'fuel' and 'owner'
df = pd.get_dummies(df, columns=['fuel', 'owner'],drop_first=True)

# Identify boolean columns (if any) and convert them to integers
# (pd.get_dummies does not produce booleans in modern versions of pandas)
if df.select_dtypes(include='bool').any().any():
    boolean_columns = df.select_dtypes(include='bool').columns
    df[boolean_columns] = df[boolean_columns].astype(int)

# Show the final DataFrame
print(df)

        brand  km_driven  selling_price  fuel_Diesel  fuel_LPG  fuel_Petrol  \
0      Maruti     145500         450000            1         0            0
1       Skoda     120000         370000            1         0            0
2       Honda     140000         158000            0         0            1
3     Hyundai     127000         225000            1         0            0
4      Maruti     120000         130000            0         0            1
...       ...        ...            ...          ...       ...          ...
8123  Hyundai     110000         320000            0         0            1
8124  Hyundai     119000         135000            1         0            0
8125   Maruti     120000         382000            1         0            0
8126     Tata      25000         290000            1         0            0
8127     Tata      25000         290000            1         0            0

      owner_Fourth & Above Owner  owner_Second Owner  owner_Test Drive Car  \
0                              0                   0                     0
1                              0                   1                     0
2                              0                   0                     0
3                              0                   0                     0
4                              0                   0                     0
...                          ...                 ...                   ...
8123                           0                   0                     0
8124                           1                   0                     0
8125                           0                   0                     0
8126                           0                   0                     0
8127                           0                   0                     0

      owner_Third Owner
0                     0
1                     0
2                     1
3                     0
4                     0
...                 ...
8123                  0
8124                  0
8125                  0
8126                  0
8127                  0

[8128 rows x 10 columns]

In [84]:
df.head()

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0

In [85]:
df.shape

(8128, 10)

In [86]:
df.columns

Index(['brand', 'km_driven', 'selling_price', 'fuel_Diesel', 'fuel_LPG',
       'fuel_Petrol', 'owner_Fourth & Above Owner', 'owner_Second Owner',
       'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

# ONE HOT ENCODING USING SKLEARN

In [120]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [121]:
df = pd.read_csv(r"C:\Users\HP-PC\Desktop\Python data analytics\cars.csv")

In [122]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=3)

In [123]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [126]:
from sklearn.preprocessing import OneHotEncoder

In [127]:
ohe = OneHotEncoder(drop='first')

In [128]:
x_train_new = ohe.fit_transform(x_train[['fuel','owner']]).toarray()

In [129]:
x_test_new = ohe.fit_transform(x_test[['fuel','owner']]).toarray()

In [130]:
np.hstack((x_train[['brand','km_driven']].values,x_train_new)).shape

(6502, 9)

# ONE HOT ENCODING WITH TOP CATEGORIES

In [134]:
counts= df['brand'].value_counts()

In [135]:
df['brand'].nunique()

32

In [136]:
threshold = 100

In [138]:
repl = counts[counts<=threshold].index

In [140]:
pd.get_dummies(df['brand'].replace(repl,'uncommon'))

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,True,False,False,False,False,False,False,False,False
8124,False,False,False,False,True,False,False,False,False,False,False,False,False
8125,False,False,False,False,False,False,True,False,False,False,False,False,False
8126,False,False,False,False,False,False,False,False,False,True,False,False,False
8127,False,False,False,False,False,False,False,False,False,True,False,False,False